html {
    font-size: 62.5%;
}

body
{
    background-color: #fffddf;
    margin-top: 0rem;
    padding-left: 28px;
    padding-right: 28px;
    font-family: Inter;
    color: black;
    margin-bottom: 2rem;
}

header
{
    text-align: center;
    font-size: 4rem;
    padding: 1.6rem 2rem;
}

#nameAndExperienceAndImage {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#nameAndExperience
{
    text-align: center;
}

#myName
{
    font-size: 4.4rem;
    margin-bottom: 3.2rem;
}

#myTag {
    font-size: 2.4rem;
    margin: 2rem auto;
}

#myOneLiner {
    margin-top: 2rem;
    color: black;
    font-size: 2rem;
}

#myBio {
    text-align: left;
    font-size: 1.6rem;
}

#myBioDiv {
    max-width: 60rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#myGithubClick {
    width: 20rem;
    height: 7.5rem;
    background-color: #b8b8b8;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    margin-top: 4rem;
}

#myGithubClick a {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

#mySignatureDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10rem;
    justify-content: center;
    align-items: center;
}

#mySignature {
    width: 40rem;
    height: auto;
    border-radius: 2.4rem;
    justify-content: center;
    align-items: center;
}

#imageDisplayBtn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#educationAndExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eduAndExpID {
    display: flex;
    flex-direction: column;
    gap: .1rem;
    text-align: left;
}

#Experience {
    margin-top: 6rem;
    font-size: 3.4rem;
    margin-bottom: 0;
    text-align: center;
}

.subHeading {
    font-size: 3.4rem;
    margin-bottom: 0;
    text-align: center;
}

.eTitle {
    margin-top: 1.5rem;
    font-size: 2.8rem;
    margin-bottom: 0;
}

.org {
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 0;
    color: #303030;
    text-decoration: none;
}

#jbLink {
    color: #303030;
    text-decoration: none;
}

#arrow {
    font-size: 1.5rem;
    vertical-align: baseline;
}

.eDuration {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #5e5e5e;
    margin-bottom: 0;
}

.eDesc {
    font-size: 1.4rem;
    text-align: left;
}

.dDesc {
    margin-top: 1.2rem;
    max-width: 80rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    text-align: left;
}

hr {
    border: none;
    border-top: 1.6px solid #494949;
    margin: 3rem 0;
}

#profilesLinks {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#copyrightAndLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#copyright {
    padding-left: 6rem;
    text-align: left;
    font-size: 1.6rem;
}

#externals {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: right;
    align-items: right;
    padding-right: 6rem;
}

#profilesDiv {
    text-align: center;
}

#contactDiv {
    text-align: center;
}

.links {
    font-size: 1.6rem;
    text-decoration: none;
    color: #383838;
}

#designedBy {
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
    padding-top: 3.6rem;
    padding-bottom: 1rem;
}

@media (max-width: 1168px) {
    html {
        font-size: 50%;
    }
    header {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 0;
    }
    main {
        margin: 0;
        padding: 0;
    }
    #myName {
        margin-top: 0;
    }
    #myBio {
        text-align: center;
    }
    .dDesc {
        text-align: center;
    }
    #nameAndExperienceAndImage {
        flex-direction: column;
    }
    #anxietyPFPdiv {
        padding-left: 0;
    }
    #anxietyPFP {
        width: 45%;
    }
    footer {
        padding: 1rem;
        
    }
}

@media (max-width: 680px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    #copyrightAndLinks {
        flex-direction: column;
    }
    #externals {
        padding: 0;
    }
    #copyright {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {

    footer {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 320px) {
    #externals {
        flex-direction: column;
        gap: 1rem;
    }
}